body {
  width: 100%;
  border: none;
  background-color: #e2caca;
  font-family: "Roboto", sans-serif;
}

.Cabeçalho {
  color: white;
  background-color: #1d246f;
  border: 1px solid black;

}

.Titulo {

  font-size: 60px;
}


h1 {
  text-align: left;

}

h2 {
  text-align: right;
  padding: 10px;


}

.Container-text{
  text-align: center;
  
}

.Card {
  height: 400px;
  display: flex;
  margin-top: 100px;
  grid-template-columns: repeat(5, 5fr);
  /* 3 colunas iguais */
  gap: 50px;
  /* Espaçamento entre os itens */
}

img {
  width: 400px;
  height: 250px;

}


.Categoria {
  text-align: center;
  padding: 40px;

}

aside {
  display: flex;
  padding: 10px;
  width: 300px;
  right: 130opx;
  border: 1px solid black;
  border-radius: 10px;
  gap: 50px;

}

.Rodape {
  font-size:  30px;
   color: white;
  background-color: #1d246f;
  border: 1px solid black;
  border: 1px solid black;

}
